name: CI/CD Pipeline
on:
  push:
    branches:
      - master
jobs:
  test:
    name: Testing branch
    uses: ./.github/workflows/ci.yml

  deploy_to_server:
    name: Deploy Project
    needs:
      - test
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.PAO_VM_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Transfer files
        run: |
          rsync -rlpvi --delete --delete-during \
          --exclude-from=rsync-exclude \
          ./ ${{ secrets.SSH_USER }}@${{ secrets.VM_IP }}:/volume/p7svr/

      - name: Reboot services on server
        run: ssh ${{ secrets.SSH_USER }}@${{ secrets.VM_IP }} ". /volume/p7svr/deployment/reload_services.sh"
